@import "tailwindcss";

:root {
  --background: #EDEBE2;
  --maroon: #6B0C0C;
  --brass: #A58356;
  --coffee: #322B21;
  --font-italiano: 'Italiano';
  --font-glacial-indifference: 'Glacial Indifference';
  --font-libre-baskerville: 'Libre Baskerville';
}

.bg-background { background-color: var(--background); }
.bg-maroon { background-color: var(--maroon); }
.bg-coffee { background-color: var(--coffee); }
.bg-brass { background-color: var(--brass); }

.text-maroon { color: var(--maroon); }
.text-brass { color: var(--brass); }
.text-coffee { color: var(--coffee); }

.font-1 { font-family: var(--font-italiano); }
.font-2 { font-family: var(--font-libre-baskerville); }
.font-3 { font-family: var(--font-glacial-indifference); }

@font-face {
  font-family: 'Italiano';
  src: url("/fonts/Italiana-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url("/fonts/LibreBaskerville-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-360 {
  animation: spin360 15s linear infinite;
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInUp {
  animation: slideInUp 0.8s ease-out forwards;
}